{% extends 'base.html' %}



{% block content %}
<div class="flex w-full bg-green-300 flex-row h-full">
    <div class="w-1/4 border" style="background-image: url('https://plus.unsplash.com/premium_photo-1673435846128-56687ba5959d?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyN3x8fGVufDB8fHx8fA%3D%3D');">
        <h1 class="transform -rotate-90 font-bold text-4xl">Sign Up</h1>
    </div>
    <div class="border w-3/4 text-center flex bg-gray-800 flex-col gap-6 p-4">
        <h2 class="text-2xl font-bold">Welcome</h2>
        <h3>Lets sign you up quickly</h3>
        <form method="post" class="gap-4">
            {% csrf_token %}
            <div class="mb-4">
                <label for="{{ form.username.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
                {{ form.username }}
            </div>
            <div class="mb-4">
                <label for="{{ form.email.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
                {{ form.email }}
            </div>
            <div class="mb-4">
                <label for="{{ form.password1.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                {{ form.password1 }}
            </div>
            <div class="mb-4">
                <label for="{{ form.password2.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Confirm Password</label>
                {{ form.password2 }}
            </div>
            <button class="border bg-blue-500 text-white px-6 py-2 rounded" type="submit">Sign up</button>
        </form>
    </div>
</div>
{% endblock %}
