{% extends 'base.html' %}

{% block content %}
<div class="w-4/5 bg-white text-black mx-auto px-4 py-8 rounded-xl">
    <h2 class="text-3xl font-bold my-3 text-red-800">{{ post.title }}</h2>
    <img src="{{ post.thumbnail.url }}" alt="{{ post.title }} Thumbnail" class="w-full rounded-lg" />
    <p class="leading-7">{{ post.content }}</p>
    <span class="font-semibold text-sm md:text-base">By {{ post.user }} at {{ post.pub_date }}</span><br>
    <a href="{% url 'homepage' %}" class="text-red-800 hover:underline">Back to Homepage</a>
    <hr class="bg-red-800 h-1 border-none my-6">
    <!-- Display the last 4 posts added by the admin -->
    <h3 class="text-2xl font-semibold mt-5 bg-red-800 w-full text-white p-2">Read More Stories</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
        {% for latest_post in latest_posts %}
        <div class="post px-2 my-6 sm:my-10 py-5 rounded-xl bg-gray-300 text-black space-y-4 h-auto overflow-hidden relative">
            <img src="{{ latest_post.thumbnail.url }}" alt="{{ latest_post.title }} Thumbnail" class="w-full rounded-lg" />
            <h4 class="text-red-800 font-semibold">{{ latest_post.title }}</h4>
            <a href="{% url 'full_post' latest_post.id %}">
                <button class="bg-red-800 hover:bg-red-400 text-white px-5 py-2 rounded mt-4 sm:mt-6">Read More</button>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
